@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
:root {
  height: 100%;
  background-color: black;
  color-scheme: dark;
}

#__next {
  @apply h-full;
}

html {
  @apply h-full;
}